<!DOCTYPE html>
<html lang="en">

<%- include('../header/header.ejs') %>

<body class="" id="site_body">
  <div class="wrapper">
    <%- include('../partials/sidebar.ejs') %>
    <div class="main-panel">
      <%- include('../partials/navbar.ejs') %>
      <div class="content">
        <div class="row">
          <div class="col-12">
            <div class="card card-user">
              <div class="card-body">
                <p class="card-text">
                  <div class="author">
                    <a>
                      <img class="avatar" src="<%- clientAvatar %>" alt="<%- clientTag %>" width="500" height="500">
                      <h4 class="title"><%- clientTag %></h4>
                    </a>
                    <p class="description">
                      Alícia chegou para moderar o seu servidor com um toque feminino!
                    </p>
                    <div class="card-description">
                      Ela vai moderar o seu servidor com seus logs, já que a Alícia faz logs de tudo, bans, kicks,
                      mensagens editadas em muito mais!<br>Faça login e desfrute os beneficios "AINDA EM BETA"
                    </div>
                  </div>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/assets/js/core/jquery.min.js"></script>
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <script src="/assets/js/plugins/chartjs.min.js"></script>
  <script src="/assets/js/plugins/bootstrap-notify.js"></script>
  <script src="/assets/js/black-dashboard.min.js?v=1.0.0"></script>
  <script src="/assets/js/helper.js"></script>
</body>

</html>