<!DOCTYPE html>
<html lang="en">

<%- include('../header/header.ejs') %>

<body class="">
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="/">
                            <i class="tim-icons icon-align-center"></i>
                            <p>Início</p>
                        </a>
                    </li>
                    <% if (logged) { %>
                    <li>
                        <a href="/profile">
                            <i class="tim-icons icon-single-02"></i>
                            <p>Meu Perfil</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/find">
                            <i class="tim-icons icon-zoom-split"></i>
                            <p>Procurar usuário</p>
                        </a>
                    </li>
                    <li>
                        <a href="/guilds">
                            <i class="tim-icons icon-link-72"></i>
                            <p>Servidores<p>
                        </a>
                    </li>
                    <% } else { %>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <%- include('../partials/navbar.ejs') %>
            <div class="content">
                <div class="row">
                    <div class="col-lg-18 col-md-12" style="margin-left: 0px;">
                        <div class="card card-user">
                            <div class="card-body">
                                <p class="card-text">
                                    <div class="author">
                                        <div class="block block-one"></div>
                                        <div class="block block-two"></div>
                                        <div class="block block-three"></div>
                                        <div class="block block-four"></div>
                                        <a>
                                            <img class="avatar" src="<%- findedUserAvatar %>" alt="<%- findedUserTag %>">
                                            <h5 class="title"><%- findedUserTag %></h5>
                                        </a>
                                        <p class="description">
                                          <%- findedUser.presence.game ? findedUser.presence.game.type === 2 ? findedUser.presence.game.name === "Spotify" ? `Ouvindo: ${findedUser.presence.game.details}`  : null : `Jogando: ${findedUser.presence.game.name}` : null %>
                                      </p>
                                        <div class="card-description">
                                            <%- db_user.personalText.replace("%command%", '"@Alícia about"') %>
                                        </div>
                                    </div>
                                    <div class="card-description text-center">
                                        Bans: <%- db_user.bans %>, Kicks: <%- db_user.kicks %>, Mutes: <%- db_user.mutes %>, Warns: <%- db_user.warns %>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/core/jquery.min.js"></script>
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/js/plugins/chartjs.min.js"></script>
    <script src="/assets/js/plugins/bootstrap-notify.js"></script>
    <script src="/assets/js/black-dashboard.min.js?v=1.0.0"></script>
    <script>
        let redirect = () => window.location.href = 'false' == "false" ? `https://discordapp.com/api/oauth2/authorize?client_id=554402289259905037&redirect_uri=https://alicinha.glitch.me/api/login&response_type=code&scope=identify%20guilds` : "/api/logout"
    </script>
</body>

</html>