<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Alícia ~ <%- pageTitle %>" />
    <meta property="og:url" content="https://alicinha.herokuapp.com/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Alícia chegou para moderar o seu servidor com um toque feminino!" />
    <meta property="og:image" content="<%- clientAvatar %>" />
    <meta name="theme-color" content="#e14eca">
    <meta name="msapplication-navbutton-color" content="#e14eca">
    <meta name="apple-mobile-web-app-status-bar-style" content="#e14eca">
    <link rel="apple-touch-icon" sizes="76x76" href="<%- clientAvatar %>">
    <link rel="icon" href="<%- clientAvatar %>">
    <title>Alícia ~ <%- pageTitle %></title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="/assets/css/icons.css" rel="stylesheet" />
    <link href="/assets/css/main.css?v=1.0.0" rel="stylesheet" />
</head>